* {
  margin: 0;
}

.flashErrorMessage {
  animation: hideAnimation 0s 3s forwards;
}

@keyframes hideAnimation {
  to {
    display: none;
  }
}

table.files th {
  text-align: left;
}

table.files,
table.files th,
table.files td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.files th,
table.files td {
  padding: 5px;
}
